{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <div class="mx-5 my-5">
    {% if messages %}
       {% for message in messages %}
           <div class="alert alert-success">
              {{ message }}
           </div>
       {% endfor %}
    {% endif %}
    <form class="form-group" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom fs-1 mb-4">Login</legend>
        {% crispy form %}
        <button class="btn btn-primary my-4" type="submit">Login</button>
      </fieldset>
    </form>
    Don't Have an Account? <a href={% url 'register' %}>Register</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>