{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if SubmissionList %}
    <table>
        <tr>
           <th>Submission Time&emsp;&emsp;&emsp;&emsp;&emsp;</th>
           <th>Langauge&emsp;&emsp;&emsp;&emsp;&emsp;</th>
           <th>Verdict&emsp;&emsp;&emsp;&emsp;&emsp;</th>
           <th>Code&emsp;&emsp;&emsp;&emsp;&emsp;</th>
        </tr>
        {% for Submission in SubmissionList %}
          <tr>
            <td>{{Submission.SubmissionTime}}</td>
            <td>{{Submission.Language}}</td>
            <td>{{Submission.Result}}</td>
            <td><button><a href={% url 'SubmissionDetail'  Submission.folder Submission.user Submission.problem Submission.filename %}>Show Code</a></button></td>
          </tr>
        {% endfor %}
    </table>
    {% else %}
       No Submissions for this Problem yet
    {% endif %}
</body>
</html>