<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 align="right">{{ username }}</h3>
    <h3 align="right"><a href = {% url 'logout' %}>Logout</a></h3>
    {% for problem in problems %}
      <li><a href={% url 'Description' problem.Problem_id%}>{{problem.Title}}</a></li>
    {% endfor %}
</body>
</html>