<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-light justify-content-end">
        <div class="p-2">{{ username }}</div>
        <div class="p-2"><a class="btn btn-primary" href={% url 'ProblemSet' %}>Home</a></div>
        <div class="p-2"><a class="btn btn-primary" href={% url 'logout' %}>Logout</a></div>
    </nav>
    <div class="mx-5 my-2">
        <nav class="nav nav-pills">
            <a class="nav-link" href={% url 'Description' Problem_id %}>Description</a>
            <a class="nav-link" href={% url 'NewSubmission' Problem_id %}>Submit</a>
            <a class="nav-link" href={% url 'MySubmissions' Problem_id %}>My Submissions</a>
        </nav>
    </div>
    <hr>
    <div class="mx-5 mt-5 table">
        <p class="fs-3 fw-bold">Submission Details:</p>
        <p>Problem Name: {{Problem_Name}}</p>
        <p>Submission Time: {{Submission_time}}</p>
        <p>Language: {{Language}}</p>
        <p>Result: {{Result}}</p>
        <p class="fs-3 fw-bold">Code:</p>
    </div>
    <pre class="prettyprint mx-5 mb-5">
        <code class="prettyprint">
{{Code}}
        </code>
    </pre>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>